doctype html
html(lang='en' style={margin: '0', padding: '0', overflow: 'hidden'})
  head
    title= title
  body(style={margin: '0', padding: '0', overflow: 'hidden'})
    div(id='game-canvas' tabindex='-1' style={height: '100vh', margin: '0', padding: '0'})
  script(src='/raphael/raphael-min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/bundle.js')